.showprogram-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showprogram-table {
    border: collapse;
    width: 1000px;
    height: 500px;
    font-size: 10px;
}

.showprogram-table thead {
    border: 1px solid;
    font-weight: bold;
}

.showprogram-table tbody {
    border: 1px solid;
}

.showprogram-table td {
    border: 1px solid;
}

.showprogram-table td tr {
    border: 1px solid;
    padding: 5px;
}

.showprogram-input {
    width: 100%;
    height: 50px;
    margin-left: 200px;
    margin-bottom: 25px;
}

.showprogram-input label {
    font-weight: bold;
    width: 25%;
}

.showprogram-input input {
    width: 250px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
}

@media only screen and (max-width: 1280px) {
    .showprogram-input {
        font-size: 13px;
        margin-top: 20px;
    }

    .showprogram-input input {
        height: 30px;
        font-size: 13px;
    }

    .showprogram-container {
        width: auto;
        height: auto;
    }

    .showprogram-table {
        width: auto;
        overflow: auto;
        height: auto;
    }
}

#program-olustur-btn {
    margin-left: 15px;
    height: 40px;
}